@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInToRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  50% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInToTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  50% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scaleIn {
  0% {
    scale: 1.5;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.marquee-left {
  animation: marqueeLeft 137s linear infinite;
}

.about-text {
  animation: slideinToTop 2s ease-in-out timing-function delay iteration-count
    direction fill-mode;
}

.hero-text {
  animation: slideInToRight 2s ease-in-out;
}

.esports-text {
  animation: scaleIn 0.5s ease;
}

.gradient-radial {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 7) 100%
  );
}

.text-shadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
  background-color: black;
}

.html-input > span {
  text-transform: uppercase;
  color: #36a15e;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.html-input > span[class=\\\"Subtitle\\\"] {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
}
.html-input > font {
  color: #7ca1cc;
  font-weight: 400;
  opacity: 1;
}

.html-input > font:nth-child(2n) {
  color: #f05039;
}

.item-enter {
  opacity: 0;
  transform: translate(100%, 100%);
}

.item-enter-active {
  opacity: 1;
  transform: translate(0%, 0%);
  transition: opacity 300ms, transform 300ms;
}

.item-exit {
  opacity: 1;
  transform: translate(0%, 0%);
}

.item-exit-active {
  opacity: 0;
  transform: translate(-100%, 0%);
  transition: opacity 300ms, transform 300ms;
}
